@import './base.scss';
@import './variables';


#app {
  padding: 2rem;
  font-weight: normal;
}

a,
.yellow {
  text-decoration: none;
  color: hsla(45, 98%, 76%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(192, 55%, 22%, 0.2);
  }
}

@media (min-width: 1024px) {
  #app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

  }
}
