@import './base.css';

/*
darkYellow = FFC61B
lightyellow = FEE187
darkBlue =  #192A56
lightgrey:  #D3D3D3
background: #282828
*/

#app {
  max-width: 1280px;
  /* margin: 0 auto; */
  padding: 2rem;
  font-weight: normal;
}

a,
.yellow {
  text-decoration: none;
  color: hsla(45, 98%, 76%, 1);
  transition: 0.4s;
}


/* button {
  width: 200px;
} */

/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
} */

@media (hover: hover) {
  a:hover {
    background-color: hsla(192, 55%, 22%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex; 
    /* place-items: center; */
  }

  #app {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem; */
  }
}
