@import './base.scss';
@import './variables';


// :root {
//   --darkYellow: $darkYellow;
//   --lightyellow: $lightyellow;
//   --darkBlue: $darkBlue;
//   --lightgrey: $lightgrey;
//   --background: $background;
// }


#app {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 2rem;
  font-weight: normal;
}

a,
.yellow {
  text-decoration: none;
  color: hsla(45, 98%, 76%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(192, 55%, 22%, 0.2);
  }
}

@media (min-width: 1024px) {
  #app {
    width: 100%;
  }
}
